<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatCompletion</title>
</head>
<body>
    
   <h2>Hello, This is the page to give input to chatCompletion Page...</h2>

   
</body>
</html>