<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    <h1>Hey!! welcome to my my AI </h1>

    <h3>HIt the below button if you want to use text to Image</h3>
    <button><a href="index">Text to Image</a></button>

    <br>
    <h3>Hit the below button if you want text to chat Completion</h3>
    <button><a href="chatCompletion">Text to ChatCompletion</a></button>
</html>